<section class='container'>
	<div class="row">
		<div class='col-md-4 col-md-offset-2'>
			<label>select value</label>
			<div class='select'>
				<input type='hidden' name='select' value=""/>
				<span class='select__value'>select</span>
				<ul class='select__options'>
					<li>value 1</li>
					<li>value 2</li>
					<li>value 3</li>
					<li>value 4</li>
				</ul>
			</div>
		</div>
		<div class='col-md-4'>
			<label>select value</label>
			<div class='search-select'>
				<input type='text' name='select' value=""/>
				<ul class='select__options'>
					<li>value 1</li>
					<li>value 2</li>
					<li>value 3</li>
					<li>value 4</li>
				</ul>
			</div>
		</div>
	</div>
</section>